<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="this is logo">
        </header>
        {{{body}}}
    </body>
</html>